:root {
  --bg-color: #181818;
  --main-color: #ff7700;
}

::selection {
  color: var(--bg-color);
  background: var(--main-color);
}

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
    font-optical-sizing: auto;
  }
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/InterVariable-Italic.woff2") format("woff2");
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
}

body {
  font-family: "InterVariable", sans-serif;
}

main {
  display: flex;
}

/* #intro {
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  width: 300px;
  height: 300px;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: opacity 0.3s ease-in-out;
} */

#intro {
  position: absolute;
  width: 100vw;
  top: 0;
  font-size: calc(100vw / 12);
}

#intro p {
  text-align: center;
  color: #ffffff;
  margin: 1.5rem;
}

#nav {
  z-index: 2000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav-item {
  position: relative;
  font-size: calc(100vw / 16);
  color: var(--main-color);
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: underline;
}

#manifesto {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#word-display {
  text-align: left;
  color: #ffffff;
  margin: 0 auto;
  line-height: 1.2;
  padding: 1rem;
}

#word-display.scene0-1 {
  font-size: calc(100vw / 16);
}

#word-display.scene0-2 {
  font-size: calc(100vw / 8);
  color: var(--bg-color);
  background: var(--main-color);
}

#word-display.scene1-1 {
  font-size: calc(100vw / 16);
}

#word-display.scene2-1 {
  font-size: calc(100vw / 24);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.word {
  display: inline-block;
  padding: 0 0.2em;
  margin: 0.1em 0;
  transition: all 0.3s ease;
}

#read-content {
  display: none;
  z-index: 1000;
  position: absolute;
  background: var(--bg-color);
  padding: 1.5rem;
  overflow-y: auto;
}

#read-content b {
  color: #ffffff;
  font-weight: 500;
  font-size: calc(100vw / 16);
}

#manifesto-text {
  color: #ffffff99;
  font-weight: 200;
  line-height: 1.4em;
  font-size: calc(100vw / 28);
  padding-bottom: calc(100vw / 28 * 1.4 + 3rem);
}

#main-text {
  color: #ffffffcc;
  font-weight: 500;
  line-height: 1.4em;
  font-size: calc(100vw / 28);
}

#p5_loading {
  display: none;
  line-height: 1.2em;
  font-size: calc(100vw / 16);
  padding: 1.5vw;
  color: #ffffff;
}

.display-none {
  display: none !important;
}
